body{
  margin: 0px;
}
#root{
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.game{
  width: 330px;
  display: flex;
  flex-direction: column;
}

.result{
  width: 100%;
  align-self: center;
}

.buttons{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

button{
  height: 50px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
}

.score{
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.computerText{
  color: red;
}

.playerText{
  color: green;
}

.neutralText{
  color: blue;
}

#rockButton{
  color: white;
  font-size: larger;
  background-color: rgb(95, 50, 18);
}

#paperButton{
  background-color: white;
  font-size: larger;
}

#scissorsButton{
  background-color: rgb(128, 126, 126);
  color: white;
  font-size: larger;
}

#resetButton{
  display: flex;
  justify-content: center;
}

#scoreReset{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: larger;
  background-color: rgb(99, 72, 3);
  color: white;
}
